* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
}

.flex {
  display: flex;
}

.grid{
    display: grid;
}

/**/
/*------------ CONTENT ------------*/
/**/

.Content {
  padding-top: 100px;
}

.Heading {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Expletus Sans", sans-serif;
  font-size: 55px;
}

/* -- table --*/
.list__container {
  margin: 30px auto;
  padding: 2% 2% 2% 2%;
  width: 85%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list__wrapper {
  padding: 2%;
  flex-direction: column;
}

.table__header {
  position: sticky;
}

.header__cell {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.body__row {
  border-bottom: 1px solid #000000;
  margin: 20px 0;
  padding-bottom: 20px;
}

.body__cell {
  width: 220px;
  height: 110px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 20px;
}

.body__cell .img__body {
  width: 120%;
}

.body-cell p {
  margin: 0 5px;
  width: 30px;
}

.btn-delete {
  width: 65px;
  height: 35px;
}

.item__name {
  font-weight: 500;
  text-align: center;
}

.btn__action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
}

.item__number {
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  height: 35px;
  width: 70px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
}

/*----------------- FOOTER ------------------*/

.footer {
  height: 210px;
  width: 100%;
}

.bill {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.bill__container {
  width: 50%;
  margin: 10px auto 30px;
  padding: 2%;
  font-size: 20px;
  /*background: #FFFFFF;*/
  box-shadow: rgba(18, 18, 18, 0.2) 0px 0px 10px 0px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.65);
}

.bill__container p {
  margin-bottom: 10px;
}

.bill__btn {
  font-family: "Expletus Sans", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
}

.btn__buy {
  width: 100px;
  margin-right: 20px;
  background-color: #3f3f3f;
  color: #ffffff;
}
.btn-buy:hover {
  color: #3f3f3f;
  background: #fff;
}

.btn__purchased-list {
  color: #3f3f3f;
  text-decoration: none;
  width: 150px;
}
.btn__purchased-list:hover {
  color: #000;
  background: #fff;
}

/*---- DIALOG ----*/
.dialog__wrapper {
  display: none;
  position: absolute;
  height: 100%;
  /*padding-top: 100px;*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 12000;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.44);
}

.dialog {
  width: 40%;
  height: 95%;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1.5%;
  overflow: hidden;
  border-radius: 10px;
  font-family: "Expletus Sans", sans-serif;
  position: relative;
}

.dialog__heading {
  height: 60px;
  width: 100%;
  justify-content: center;
  font-weight: 900;
}

.dialog__content {
  max-height: calc(100% - 60px - 80px);
  height: 100%;
  overflow-y: auto;
  padding: 1%;
}

.dialog__content p {
  margin: 0;
}

.label__input {
  margin: 5px 0 0px 0;
  font-weight: 700;
}

.group__select {
  margin: 10px 0 15px;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 0 2%; */
  gap: 5%;
}

.input__container {
  overflow: hidden;
  flex-direction: column;
  /*padding: 1%;*/
}

.input__container input {
  width: 100%;
  height: 40px;
  border-bottom: 0.5px solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 0 10px;
  outline: none;
}

.form__group{
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

select {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  border-top: 0;
  border-bottom: 0.5px solid;
  border-left: 0;
  border-right: 0;
  height: 40px;
}
select:focus {
  border-radius: 5px;
  border: black solid 1px;
}

textarea {
  width: 100%;
  border: 0.5px solid;
  outline: none;
  border-radius: 10px;
  padding: 2%;
  height: 200px;
}

.name {
  width: 50%;
}

.email {
  width: 100%;
}

.phone {
  width: 100%;
}

.address {
  width: 100%;
}

.selector {
}

.dialog__footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 10%);
  height: 80px;
  align-items: end;
  padding-bottom: 20px;
  background: #fff;
}

.btn__submit {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background: #232323;
  color: #ffffff;
  margin-right: 20px;
  position: relative;
  outline: none;
}
.btn__submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 6px solid #232323;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0s;
  z-index: -1;
}
.btn__submit:hover::before {
  opacity: 0;
  top: -10px;
  left: -7px;
  height: 155%;
  width: 115%;
  transition: top 0.5s, left 0.5s, height 0.5s, width 0.5s, opacity 0.4s;
}
.btn__submit:focus::before {
  opacity: 0;
  top: -10px;
  left: -7px;
  height: 155%;
  width: 115%;
  transition: top 0.5s, left 0.5s, height 0.5s, width 0.5s, opacity 0.4s;
}
.btn__submit:focus:after {
  content: "";
  left: -4.7px;
  top: -5px;
  width: 110%;
  height: 130%;
  position: absolute;
  border: 1px solid #232323;
  border-radius: 13px;
}

.btn__cancel {
  height: 40px;
  width: 70px;
  border-radius: 10px;
  background: #b70808;
  color: #ffffff;
  border: rgba(0, 0, 0, 0.71);
  outline: none;
  position: relative;
}
.btn__cancel:hover {
  background: #d50808;
}
.btn__cancel:focus {
  background: #d50808;
}
.btn__cancel:focus:after {
  content: "";
  left: -2.7px;
  top: -2.8px;
  width: 108%;
  height: 115%;
  position: absolute;
  border: 1px solid #d50808;
  border-radius: 12px;
}

.invalid {
  border: 1px solid red !important;
  border-radius: 5px;
}

.form-message {
  color: red;
}













::-webkit-scrollbar-thumb{
  height: 100px;
}
