

html{
    scroll-behavior: smooth;
}


/* --------------------- Nav Bar ---------------------- */

.nav__bar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    color: #fff;
    background: rgba(19, 18, 18, 0.9);
    box-shadow: 1px 3px 12px 0 rgba(44, 17, 1, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 10000;
}

.nav__bar a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav__menu {
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.nav__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 2%;
    width: 17%;
    height: 60%;
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat Alternates Thin", sans-serif;
    transition: height 0.4s ;
}
.nav__item::before{
    content: "";
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    transition: width 0.3s;
}
.nav__item:hover {
    cursor: pointer;
    height: 100%;
    box-shadow: 0 8px 32px 0 rgba(60, 52, 44, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    background: linear-gradient(110deg, rgb(255, 196, 129) 0%, rgb(251, 141, 164) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
}
.nav__item:hover::before{
    content: "";
    width: 65%;
    background: #fff;
    bottom: 0;
    transition: width 0.2s;
    transition-delay: 0.3s;
}


.icon {
    position: relative;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 30% 10% 20% 10%;
    transition: ease-out 0.3s;
}
.icon:hover {
    background-color: #fff;
    color: #212125;
    cursor: pointer;
}
.icon:hover .product__number {
    height: 30px;
    width: 30px;
    background: linear-gradient(45deg, #8a2387, #e94057, #f27121);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 40% 20% 40% 20%;
    color: #FFFFFF;
    cursor: pointer;
}


.product__number {
    display: none;
    position: absolute;
    bottom: -30%;
    left: 60%;
    height: 27px;
    width: 27px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    border-radius: 10% 30% 10% 20%;
    background: linear-gradient(315deg, #8a2387, #e94057, rgba(242, 113, 33, 1));
    /*background: linear-gradient(135deg, rgba(131,130,130,0.05) 0%, rgb(0, 0, 0) 30%);*/
    box-shadow: 0 8px 32px 0 rgba(96, 96, 106, 0.51);
    backdrop-filter: blur(13px);
    font-family: space, sans-serif;
    font-size: 14px;
    transition: ease-in;
}

.nav__bar-title {
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.nav__bar-title::before{
    content: '';
    position: absolute;
    bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 3px;
    width: 0;
    background: #fff;
    transition-duration: .5s;
}
.nav__bar-title:hover{
    background: linear-gradient(110deg, rgb(255, 196, 129) 0%, rgb(251, 141, 164) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(60, 52, 44, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
}
.nav__bar-title:hover:before{
    width: 90%;
    margin: auto;
}



.divider {
    position: absolute;
    height: 70%;
    right: 0;
    border-right: 1px solid #fff;
}




/*---------- toast ------------*/
.success {
    background: #66FF66 !important;
}

.error {
    background: #f44336 !important;
}

.warning {
    background: #ffa726 !important;
}

.toast-wrapper {
    right: 5px;
    top: 100px;
    z-index: 1000;
}

.toast-container{
    z-index: 13000!important;
}

#liveToast{
    border: none;
}



/* ------- Confirm Dialog -------- */

.confirm__dialog{
    position: absolute;
    display: none;
    /*height: 100%;*/
    width: 100%;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
}

.confirm__dialog__container{
    width: 30%;
    padding: 1%;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 0 0 15px 1px rgba(58, 58, 58, 0.3);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.confirm__content{
    height: 50px;
    margin: 0;
    padding: 2%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.confirm__btn__container{
    padding: 2%;
    justify-content: flex-end;
}

.confirm__btn{
    width: 70px;
    margin-right: 10px;
}


.empty__data{
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 20px;
    width: 100%;
    height: inherit;
    opacity: .76;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    font-family: "Expletus Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}


/*----------------- Responsive ------------------*/

@media (max-width: 1025px) {

    /*------ Home Page ------*/
    /*---- content ----*/
    /* store */
    .img-container {
        width: 200px;
    }

    .store-content {
        padding: 0 30px 30px;
    }


    /* follow */
    .follow-content {
        padding: 0 30px 30px;
    }

    .follow-group-img {
        position: relative;
    }

    .follow-img-container {
        position: absolute;
        width: 200px;
        height: 250px;
    }

    .follow-img-1 {
        top: 20px;
        right: 35px;
        z-index: 10;
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.56);
    }

    .follow-img-2 {
        bottom: 20px;
        left: 35px;
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.46);
    }


    /*---- footer ----*/
    .content-container {
        justify-content: space-between;
    }

    .footer-content-item {
        width: 320px;
        margin-bottom: 20px;
    }


    /*------ Cart Page ------*/
    /*---- Content ----*/
    .empty__data{
        text-align: center;
    }

}


@media (max-width: 768px) {


    /*---- content ----*/
    .group-image {
        position: relative;
        padding-top: 100px;
    }

    .img-container {
        width: 160px;
        position: relative;
    }

    .img-container .item {
        position: absolute;
    }

    .item div:nth-child(1) {
        top: 0;
    }

    .item div:nth-child(2) {
        top: -15%;
        left: 15%;
    }

    /*---- footer ----*/
    .footer-copyright {
        padding: 40px 0 28px;
    }

}











/*----------- Scroll ------------*/

::-webkit-scrollbar {
    background: rgba(43, 42, 42, 0.09);
    width: 8px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    /*display: none;*/
    background: rgba(120, 120, 120, 0.53);
    border-radius: 5px;
    min-height: 200px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.59);
    border-radius: 5px;
}




