
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{

    height: 100vh;
    overflow-y: auto;
}

.flex {
    display: flex;
}


.wrapper {
    background-color: rgb(255, 255, 255);
    /*width: 100%;*/
    position: relative;
}


/* ---- Header ----*/

.header {
    flex-direction: column;
    /*height: 3000px;*/
}

.nav-bar-container {
}


.header-intro {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-image: url(../images/main/nordwood-themes-d9vsO3166UI-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.intro-content {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    color: #fff;
    /*background: linear-gradient(*/
    /*        0deg,*/
    /*        rgba(0, 0, 0, 0.002) 0%,*/
    /*        rgba(0, 0, 0, 0.15) 20%,*/
    /*        rgba(0, 0, 0, 0.25) 30%,*/
    /*        rgba(0, 0, 0, 0.25) 65%,*/
    /*        rgba(0, 0, 0, 0.15) 80%,*/
    /*        rgba(0, 0, 0, 0.002) 100%);*/
    background: rgba(0, 0, 0, 0.29);
}

.bi-egg-fried {
    color: #F3AC9D;
}

.intro-title {
    font-family: "Expletus Sans", sans-serif;
    font-weight: 900;
    font-size: 80px;
    background: linear-gradient(110deg, rgba(251, 201, 146, 1) 0%, rgba(236, 147, 165, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
}

.intro-subtitle {
    font-family: Montserrat, sans-serif;

}

.intro-subtitle {
    -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.19) 90%);
}


.blur-top {
    position: absolute;
    bottom: -12px;
    margin: 0 auto;
    color: #ffff;
    z-index: 1000;
}

.down-arrow {
    position: absolute;
    bottom: 0px;
    z-index: 3000;
    width: 60px;
    height: 60px;
    opacity: 0.6;
    justify-content: center;
    align-items: end;
    cursor: pointer;
}

.down-arrow svg {
    animation: ease-in-out moveDownArrow 3s infinite;
}


/* ---- Content ---- */

.content {
    background: #fff;
    padding: 35px 0;
}


/* Preface */

.preface {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 0 24px 10% 24px;
    flex-direction: column;
    justify-content: center;
    font-family: "Expletus Sans", sans-serif;
}

.headline {
    font-family: "Silver Pearl", sans-serif;
    font-size: 140px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: #ffaa93;
    z-index: 1000;
    margin-bottom: -15px;
}

.first-letter {
    font-size: 180px;
}

.sub-headline {
    position: absolute;
    text-align: center;
    font-size: 50px;
    letter-spacing: 8px;
    margin: 0 auto;
    top: 122px;
    left: 0;
    right: 0;
}

.flower-separator {
    width: 100%;
    justify-content: center;
    margin: 25px 0;
    font-size: 18px;
    opacity: .6;
}

.preface p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.71);
    line-height: 1.7;
    font-family: "Montserrat Alternates", sans-serif;
    margin-bottom: 2%;
}

.preface a {
    color: #ffaa93;
}

.preface-img {
    height: 500px;
    overflow: hidden;
}

.preface-img img {
    height: 100%;
    margin: 3% 0;
}


/* Flavours */

.flavours {
    height: 670px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(../images/main/nordwood-themes-oSb1zc5JIyY-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.headline-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Expletus, sans-serif;
    background: rgba(0, 0, 0, 0.39);
    font-weight: 800;
}

.headline-container p {
    top: 53%;
    color: #fff;
}


/* Store */

.store {
    width: 90%;
    margin: 0 auto;
    padding: 78px 24px 78px 24px;
}

.store-item {
    width: 50%;
}

.store-content {
    position: relative;
    padding: 0 30px 30px 78px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
}

.store-content p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.71);
    line-height: 2.0;
}


.store-content .sub-headline {
    top: 100px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    letter-spacing: 4px;
    z-index: 10;
    color: #000000;
}

.what-in-store {
    padding-top: 10%;
    font-size: 18px;
    letter-spacing: 3px;
    color: #ffaa93;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid;
}

.group-image {
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.img-container {
    height: 240px;
    width: 290px;
    margin-bottom: 30px;
    overflow: hidden;
}

.img-container p {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.store-img-1 {
    background-image: url(../images/main/14d46bf857f8c704fed470599b30ed7c.jpg);
    background-position: center;
}

.store-img-2 {
    background-image: url(../images/main/bbbb.jpg);
}

.store-img-3 {
    background-image: url(../images/main/52cc8b162856cd6ea98c61fb88e568d7.jpg);
    background-position: center bottom;
}

.store-img-4 {
    background-image: url(../images/main/aaaa.jpg);
    background-position: center -60px;
}


/* Handmade */
.handmade {
    width: 100%;
    height: 670px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/main/3958206857affb19c20ea7184741834c.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.handmade-headline {
    width: 100%;
    position: relative;
}


/* Follow */
.follow {
    width: 90%;
    margin: 0 auto;
    padding: 78px 24px 78px 24px;
}

.follow-item {
    width: 50%;
    text-align: center;
}

.follow-content {
    padding: 0 30px 30px 78px;
    flex-direction: column;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
}

.follow-heading {
    position: relative;
}


.follow-content .sub-headline {
    top: 100px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    letter-spacing: 4px;
    z-index: 10;
    color: #000000;
    white-space: nowrap;
}

.follow-content p {
    margin-bottom: 52px;
}

.find-us {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffaa93;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    padding: 3px 0;
    border-bottom: 2px solid;
}

.follow-group-img {
    justify-content: space-around;
}

.follow-img-container {
    width: 40%;
    height: 400px;
    background-size: cover;
}

.follow-img-1 {
    background-image: url(../images/main/17dde883b97f1190ec8879f381ebf02a.jpg);
}

.follow-img-2 {
    background-image: url(../images/main/237c7dba78ec3632a96182ba8de363b7.jpg);
}


/* --------------------- Footer ---------------------- */

.footer {
    width: 100%;
}

.footer-content {
    padding: 60px 0 54px;
    background-color: #121212;
    color: #fff;
    position: relative;
}


.footer-content-container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 24px;
    flex-wrap: wrap;
}

.footer-content-item {
    width: 33.3333%;
    padding: 12px;
    margin-bottom: 24px;
}

.footer-item-title {
    margin-bottom: 30px;
    font-family: "Expletus Sans", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-item-content {
    font-family: "Montserrat Alternates Thin", sans-serif;
    font-size: 13px;
    color: #eaeaea;
    flex-wrap: wrap;
}

.footer-item-content p {
    margin-bottom: 10px;
    line-height: 1.7;
}

.footer-item-content b {
    font-size: 14px;
}



.icon-container{
    position: relative;
    margin-right: 30px;
    cursor: pointer;
}

.follow-us-icon {
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    color: black;
    background: rgba(255, 255, 255, 0.78);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    z-index: 1000;
}
/* icon color*/
.icon-container:nth-child(1) .follow-us-icon{
    color: rgb(54, 91, 253);
}
.icon-container:nth-child(2) .follow-us-icon{
    color: rgb(54, 91, 253);
}
.icon-container:nth-child(3) .follow-us-icon{
    color:rgba(255, 0, 0, 0.67);
}
.icon-container:nth-child(4) .follow-us-icon{
    background: rgba(255, 255, 255, 0.58);
    backdrop-filter: blur(6px);
}

.icon-container:nth-child(1) .sub-follow-us-icon:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 111, 255, 0.72);
    filter: blur(15px);
}
.icon-container:nth-child(2) .sub-follow-us-icon:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 243, 243, 0.52);
    filter: blur(15px);
}
.icon-container:nth-child(3) .sub-follow-us-icon:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 0, 0, 0.72);
    filter: blur(15px);
}
.icon-container:nth-child(4) .sub-follow-us-icon:before{
     content: "";
     position: absolute;
     height: 100%;
     width: 100%;
     background: linear-gradient(207deg, rgba(120,40,219,1) 0%, rgba(110,36,211,1) 25%, rgba(255,213,0,1) 52%, rgba(254,0,0,1) 85%);
     /*z-index: -1;*/
     filter: blur(15px);
}
.sub-follow-us-icon{
    position: absolute;
    right: 10%;
    bottom: 0;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    rotate: 10deg;
    backdrop-filter: blur(7px);
    background: rgb(186, 186, 186);
    transition: rotate 0.1s, right .2s;
}
.icon-container:hover .sub-follow-us-icon{
    rotate: 0deg;
    top: 0;
    right: 0;
}
.follow-us-icon img{
    width: 60%;
}



.footer-item-content svg {
    height: 30px;
    width: 30px;
}

.footer-copyright {
    width: 100%;
    padding: 60px 0 28px;
    background-color: #252525;
    position: relative;
    justify-content: center;
    border: none;
}

.blur-bottom {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: -51px;
    z-index: 1000;
    color: #252525;
}

.up-arrow {
    position: absolute;
    top: -60px;
    z-index: 3000;
    width: 60px;
    height: 60px;
    opacity: 0.6;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    color: #FFFFFF;
}

.up-arrow svg {
    animation: ease-in-out moveDownArrow 3s infinite;
}

.copyright-container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 24px;
    color: #FFFFFF91;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;

}

.copyright-container a {
    text-decoration: none;
    color: #ffaa93;
}

.copyright-text {
    margin-bottom: 16px;
    text-align: center;
    font-family: inherit;
}

.footer-menu {
    width: 100%;
    list-style: none;
    text-align: center;
    font-family: inherit;
}

.footer-menu li:after {
    content: "\2022";
    margin: 0 0 0 10px;
}

.footer-menu a {
    text-transform: uppercase;
    color: #FFFFFF91;
}

.footer-menu-item {
    display: inline-block;
    padding: 6px;
}

.my-account::after {
    display: none;
}





















/*-------- animation --------*/

@keyframes moveDownArrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveUpArrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

