
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.flex {
    display: flex;
}

.wrapper {
    background-color: rgba(234, 234, 234, 0.96);
    position: relative;
    width: 100%;
}


.header {
    flex-direction: column;
    height: 600px;
}






.header-intro {
    position: absolute;
    right: 0;
    left: 0;
    top: 120px;
    width: 90%;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background-color: black;
    margin: 0 auto ;
    border-radius: 20px;
    box-shadow: 1px 2px 22px 2px rgba(250, 195, 148, 0.06);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(188, 121, 21, 0.18);
}

.bi-egg-fried {
    color: #F3AC9D;

}

.intro-title {
    font-family: "Expletus Sans", sans-serif;
    font-weight: 900;
    font-size: 80px;
    background: linear-gradient(110deg, rgba(251, 201, 146, 1) 0%, rgba(236, 147, 165, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
}

.intro-subtitle {
    font-family: Montserrat, sans-serif;

}

.intro-subtitle {
    -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.19)90%);
}


/*---- CONTENT ----*/
.content {
    color: #fff;
    background: linear-gradient(
            180deg,
            rgba(189, 195, 199, 0.001),
            rgba(189, 195, 199, 0.05),
            rgba(158, 159, 160, 0.13),
            rgba(63, 61, 61, 0.48)
    );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding-bottom: 5%;
}

.listItem {
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-content: space-around;*/
    margin: 0 8%;
    padding: 5%;
}

.item {
    width: 320px;
    height: 450px;
    position: relative;
    margin: 4% 0;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in-out 1s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.item:hover {
}
.item:hover .wrap-btn {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    align-items: center;
    transition-delay: 0s;
}
.item:hover .btn-add {
    opacity: 1;
    transition-delay: 0.1s;
    height: 45px;
}


.item img {
    /*width: 100%;*/
    height: 100%;
    opacity: 0.86;
}

.item-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    padding: 5% 5%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(
            180deg,
            rgba(29, 19, 20, 0.008) 0%,
            rgba(29, 19, 20, 0.08) 10%,
            rgba(34, 27, 27, 0.5) 31%,
            rgba(23, 19, 19, 1) 100%
    );
}

.item-title {
    margin: 2%;
    font-family: "Asher Punk Demo Version", sans-serif;
    font-size: 48px;
    /*color: #ffa574;*/
    color: #FFFFFF;
    font-weight: 600;
}

.item-quantity{
    font-family: "Expletus Sans", sans-serif;
    font-size: 14px;
    font-weight: 200;
    padding: 0 2%;
    margin-bottom: 10px;
    opacity: 0.85;
}

.item-price {
    background: #FFFFFF;
    color: #000000;
    width: 100px;
    height: 25px;
    margin: 2% 0 4% 2%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 15px;
}

.item-description {
    font-family: Montserrat, sans-serif;
    opacity: 0.65;
    font-size: 15px;
    padding: 0 2%;
    margin: 20px 0;
    font-style: italic;
}

.btn-add {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 120px;
    height: 0;
    color: #000;
    font-family: "Expletus Sans", "Expletus Sans Bold", sans-serif;
    background: #ffff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.22) 0px 4px 6px, rgba(0, 0, 0, 0.27) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;
    opacity: 0;
    transition: all 0.3s;
    transition-delay: -0.2s;
}

.wrap-btn {
    justify-content: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: all 0.2s;
    opacity: 0;
}

.sold-out{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.68);
    justify-content: center;
    align-items: center;
    font-family: "Expletus Sans", sans-serif;
    font-size: 26px;
    /*font-weight: 900;*/
}
.sold-out::before{
    content: "";
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border: 6px solid rgba(200, 0, 0, 0.58);
}
.sold-out::after{
    content: "Sold Out";
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: -30deg;
    background: rgba(200, 0, 0, 0.58);
}

.sold-out-circle{
    height: 60px;
    width: 180px;
    border-radius: 5px;
    background: rgba(167, 0, 0, 0.46);
    position: relative;
    box-shadow: 0 5px 14px 1px black;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(2px);
    rotate: -30deg;
}
.sold-out-circle::before{
    content: "";
    width: 90%;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    top: 5px;
}
.sold-out-circle::after{
    content: "";
    width: 90%;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    bottom: 5px;
}






