*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}



.wrapper{
    height: 100vh;
    overflow-y: auto;
}

.Content {
    padding-top: 100px;
    padding-bottom: 4%;
    position: relative;
}


.Heading {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: "Expletus Sans", sans-serif;
    font-size: 55px;
    font-weight: 900;
}

/* -- table --*/
.list__container {
    margin: 30px auto;
    padding: 2% 2% 2% 2%;
    width: 90%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /*overflow-x: auto;*/
}
/*.list-container::-webkit-scrollbar-track{*/
/*    width: 5px;*/
/*}*/

.list__wrapper {
    padding: 2% 2% 0 2%;
    flex-direction: column;
}


.table__header {
    text-align: center;
}

.header__cell {
    min-width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.body__row {
    margin: 20px 0;
    position: relative;
}

.text__primary{
    align-items: end;
}

.detail__container{
    align-items: center;
    color: #3F3F3F;
    height: 40px;
    width: 100%;
    align-content: space-between;
    justify-content: space-between;
}
.caret__rotation{
    transition: ease-in-out 0.6s;
    width: 20px;
    height: 20px;
}


.row__body{
    flex-direction: column;

}

.row__divider{
    border-bottom: 1px solid #000000;
    width: 100%;
}

.body__cell {
    width: 170px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0 5px;
}

.img__cell{
    border-radius: 10px;
    overflow: hidden;
}

.body-__cell .img__body {
    width: 120%;
}

.code__cell{
    flex-direction: column;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    align-items: normal;
}
.order__code{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.order__detail__btn{
    margin-top: 5px;
}

.order__name{
    text-align: center;
}

.btn__back{
    height: 40px;
    position: absolute;
    bottom: 2%;
    right: 5%;
}


.tooltip__code {
    padding: 10px;
    position: absolute;
    min-width: 150px;
    white-space: nowrap;
    box-shadow: 1px 1px 20px #aaa;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
    top: -15px;
    left: 15%;
    transform: translate(-50%);
    transform-style: preserve-3d;
    z-index: 100000;
    font-size: 0.9em;
    display: none;
}
.tooltip__code:after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%);
    background-color: #FFFFFF;
    left: 10%;
    top: -1px;
    z-index: 400;
}
.tooltip__code:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%) translateZ(-1px);
    background-color: #fff;
    left: 10%;
    top: 0;
    z-index: -1;
    box-shadow: -1px -1px 20px #aaa;
}
.tooltip__src {
    color: #0641AD;
    box-shadow: 1px 1px 20px rgba(6, 65, 173, 0.3);
    /*top: -50px;*/
}
.tooltip__src:after {
    top: auto;
    bottom: -8px;
}
.tooltip__src:before {
    top: auto;
    bottom: -8px;
}

.body__cell:hover .tooltip__code{
    display: block;
}

.btn__return{
    width: 40%;
    height: 35%;
    border: 1px solid black;
    background: #FFFFFF;
    border-radius: 5px;
}
.btn__return img{
    width: 40%;
}
.btn__return:hover{
    color: #FFFFFF;
    border: 1.5px solid black;
    box-shadow: 0 0 10px 0 rgba(76, 61, 47, 0.19);
}
.btn__return:focus{
    box-shadow: 0 0 13px 1px rgba(76, 61, 47, 0.19) inset;
}




.caret-up{
    transition: ease-in-out 0.3s;
    transform: rotate(180deg);
}


